.App {
  text-align: center;

}

.App-header {
  background-color: #323947;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

.Table{
  float: left;
  margin-top: 200px;
  padding: 20px;
  text-align: left;
}

/* .TableHeader{
  position: fixed;
  padding: 20px;
  text-align: left;
  float: left;
} */

#col1 {
  width: 30%;
}

#col2 {
  width: 20%;
}

#col3 {
  width: 10%;
}

#col4 {
  width: 20%;
}

#col5 {
  width: 10%;
}

#col6 {
  width: 10%;
}

.TableRows{
  cursor: pointer;
}

.selectedRow{
  background-color: rgba(37,122,206,1);
  color: white;
}

.Details {
  float: left;
  padding: 20px;
  overflow-y: scroll;
  top: 200px;
  left: 800px;
  position: fixed;
}
