.App {
  text-align: center;

}

.App-header {
  background-color: #323947;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
}

.Table{
  float: left;
  margin-top: 198px;
  padding: 20px;
  padding-top: 0px;
  text-align: left;
  width: 800px;
  border-color: white;
}

.TableHeader{
  position: fixed;
  padding-top: 20px;
  text-align: left;
  float: left;
  background-color: white;
  width: 800px;
}

.TableRows{
  padding-top: 100px;
  top: 80px;
  cursor: pointer;
}

#col1 {
  width: 200px;
}

#col2 {
  width: 160px;
}

#col3 {
  width: 80px;
}

#col4 {
  width: 160px;
}

#col5 {
  width: 80px;
}

#col6 {
  width: 80px;
}



.selectedRow{
  background-color: rgba(37,122,206,1);
  color: white;
}

.Details {
  float: left;
  padding: 20px;
  overflow-y: scroll;
  top: 200px;
  left: 800px;
  position: fixed;
}
